<!DOCTYPE html>
<html>

<head>
    <title>IMPORTANT DEADLINE</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="C:\xampp\htdocs\mango\webdjango\static\css\stylelogin.css">
</head>

<script>
    function submitData() {
        var inputData = document.getElementById("deadlineName").value;

        var inputData1 = document.getElementById("deadlineDate").value;


        var storedData = JSON.parse(localStorage.getItem("inputDataList")) || [];

        storedData.push({ data1: inputData, data2: inputData1 });


        localStorage.setItem("inputDataList", JSON.stringify(storedData));
        window.location.href = "notifications.html";
    }


</script>

<body onload="loadData()">
    <h1>IMPORTANT DEADLINE</h1>
    <form id="deadlineForm">
        <label for="deadlineName">Deadline name</label>
        <input type="text" id="deadlineName" required><br><br>
        <label for="deadlineDate">Deadline date</label>
        <input type="datetime-local" id="deadlineDate" required><br><br>
        <button type="submit" class="create" onclick="submitData()">submit</button>
    </form>

    <ul id="deadlineList"></ul>

    

    
</body>

</html>